.main_container {
  height: 600px;
}

/* .mynav{
  background-image: url('../images/gro_img2.jpeg');
  height: 32rem;
} */

/* .navbar {
  background-color: transparent !important;
} */

.navbar .navbar-brand{
  color: black;
  font-weight: bolder;
  font-size: 1.5em;
}
.carousel{
  margin-top: 5em;
  margin-bottom: 2em;
}
.carousel-item{
  background-color: gray;  
  height: 50rem;
  color: white;
  position: relative;
  
}

.carousel-item .container{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}

.carousel-item .overlay-image{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  /* opacity: 0.5; */

}

.body {
  background-color: lightblue;
  height: 30rem;
  color: whute;
  position: relative;
}

.body .body_container{
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 50px;
  padding-left: 30px;
  text-align: center;
}

.body .body_container h4{
  text-align: justify;
  padding-top: 10px;
}

.product{
  background-color: orange;
  height: 40rem;
  padding-left: 30px;
  padding-top: 20px;
}

.footer {
  background-color: greenyellow;
  height: 1.5 em;
  margin-top: 2em ;
}
.body-message{
  background-color: orange;
}

