.main_container {
  height: 600px;
}

/* .mynav{
  background-image: url('../images/gro_img2.jpeg');
  height: 32rem;
} */

/* .navbar {
  background-color: transparent !important;
} */

.navbar .navbar-brand{
  color: black;
  font-weight: bolder;
  font-size: 1.5em;
}
.carousel{
  margin-top: 50px;
}
.carousel-item{
  background-color: gray;  
  height: 50vh;
  color: white;
  position: relative;
  
}


.carousel-item .container{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}

.carousel-item .overlay-image{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  /* opacity: 0.5; */

}

.body {
  background-color: lightblue;
  height: 30rem;
  color: whute;
  position: relative;
}

.body .body_container{
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 50px;
  padding-left: 30px;
  text-align: center;
}

.body .body_container h4{
  text-align: justify;
  padding-top: 10px;
}

.product{
  background-color: orange;
  height: 40rem;
  padding-left: 30px;
  padding-top: 20px;
}

.footer {
  background-color: #f7eee1;
  height: 1.5 em;
  /* margin-top: 2em ; */
}
.body-message{
  background-color: orange;
}

.filler{
  height:300px;
  background-image: url("https://cdn.shopify.com/s/files/1/0524/1874/0389/files/GenericBanner-SimplyDesi_06084597-bedc-497c-908e-75b195b04075_3000x.jpg?v=1636502036");
}

.filler1{
    height:500px;
  background-image: url("https://cdn.shopify.com/s/files/1/0524/1874/0389/files/Lohri_Baskets-WB_1600x.jpg?v=1641751745");


}

.register-form{
  padding-top: 150px;
  min-height: 70vh;


}
